@import './styles.scss';

* {
    margin: 0;
    padding: 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background-color: $global-bgcolor;
}

.main {
    display: inline-block;
}

