@import '../UI/styles.scss';

#open-menu {
    float: left;
    display: inline-flex;
    margin: 16px 0px 16px 16px;
    padding: 20px 30px;
}

#start-game-btn {
    float: left;
    margin: 48px 0px 50px 224px;
}

#quit-game-btn {
    float: right;
    margin: 48px 224px 50px 0px;
    background-color: $quit-btn-color;
    color: $text-quitcolor;
    box-shadow: 0 0 12px 0 $quit-btn-color;

    &:hover {
        background-color: $quit-btn-color-hover;
        color: $text-quit-hovercolor;
        box-shadow: 0 0 24px 0 $quit-btn-color;
    }

    &:active {
        background-color: $quit-btn-color-click;
        color: $text-quit-clickcolor;
        box-shadow: 0 0 48px 0 $quit-btn-color;
    }
}
