@import '../UI/styles.scss';

.info {
    background-color: $canvas-outlinecolor;
    float: center;
    display: flexbox;
}

.counter-score {
    justify-content: center;
    display: inline-block;
    text-align: center;
    padding: 0px;
    float: left;

    margin-left: 230px;
    color:  $text-color;
    font-size: $mid-font-size;
    font-weight: bold;
    border: none;
    font-family: $myFont;
}

.counter-time {
    justify-content: center;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin-right: 230px;
    float: inline-end;

    color:  $text-color;
    font-size: $mid-font-size;
    font-weight: bold;
    border: none;
    font-family: $myFont;
}
