@import '../UI/styles.scss';

.counter {
    display: inline-flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 48px;
    margin-bottom: 0px;
    color: $text-color;
    font-size: $large-font-size;
    font-weight: bold;
    font-family: $myFont;

}

#score-counter {
    display: inline-flex;
    justify-content: space-between;
    margin: 48px 0px 0px 0px;
}

#time-counter {
    display: inline-flex;
    float: right;
    margin: 48px 55px 0px 0px;
}
