@import '../UI/styles.scss';

.menu-button {
    border-radius: 12px;
    border: none;
    background-color: $btn-color;
    font-weight: bold;
    color: $text-color;
    padding: 20px;
    margin: 25px 0px;
    text-align: center;
    font-size: $mid-font-size;
    cursor: pointer;
    display: block;
    width: 100%;
    box-shadow: 0 0 12px 0 $btn-color;

    &:hover {
        background-color: $btn-color-hover;
        color: $text-hovercolor;
        transform: scale(1.03);
        box-shadow: 0 0 24px 0 $btn-color;
    }

    &:active {
        background-color: $btn-color-click;
        color: $text-clickcolor;
        transform: scale(0.98);
        box-shadow: 0 0 48px 0 $btn-color;
    }
}

#easy-button {

    

}

#back-button {
    color: $back-button-textcolor;
    border: none;
    background-color: $back-button-color;
    box-shadow: 0 0 12px 0 $back-button-hover-color;

    &:hover {
        background-color: $back-button-hover-color;
        color: $back-button-textcolor;
        box-shadow: 0 0 24px 0 $back-button-hover-color;
    }

    &:active {
        background-color: $back-button-active-color;
        color: $back-button-textcolor;
        box-shadow: 0 0 48px 0 $back-button-hover-color;
    }
}