$myFont: Helvetica, sans-serif;
$global-bgcolor: rgb(7, 9, 18);
$menu-bgcolor: rgb(17, 24, 52);
$canvas-bgcolor: rgb(27, 35, 66);
$canvas-outlinecolor: rgb(14, 16, 28);

$btn-color: rgb(35, 130, 254);
$btn-color-hover: rgb(120, 201, 255);
$btn-border-color: rgb(35, 130, 254);

$quit-btn-color: rgb(209, 0, 66);
$quit-btn-color-hover: rgb(255, 57, 119);
$quit-btn-border-color: rgb(0, 19, 43);

$text-color: white;
$text-hovercolor: rgb(0, 38, 84);

$text-quitcolor: white;
$text-quit-hovercolor: rgb(100, 0, 32);

$small-font-size: 12px;
$mid-font-size: 18px;
$large-font-size: 24px;
$padding-leftNright: 20px;
$padding-topNbottom: 50px;